{% extends "admin_base.html" %}
{% block content %}

<div class="container mt-4">

    <h4>유저 생성</h4>
    <form method="post" action="{{ url_for('admin.create_user') }}" class="row g-2">
        <div class="col-md-4">
            <input class="form-control" name="username" placeholder="아이디" required>
        </div>
        <div class="col-md-4">
            <input class="form-control" name="password" placeholder="비밀번호" required>
        </div>
        <div class="col-md-3">
            <select class="form-select" name="role">
                <option value="employee">Employee</option>
                <option value="admin">Admin</option>
            </select>
        </div>
        <div class="col-md-1">
            <button class="btn btn-primary w-100">추가</button>
        </div>
    </form>

    <hr>

    <h4>전체 유저</h4>
    <table class="table table-bordered mt-2">
        <thead>
            <tr>
                <th>ID</th>
                <th>아이디</th>
                <th>권한</th>
            </tr>
        </thead>
        <tbody>
            {% for u in users %}
            <tr>
                <td>{{ u.id }}</td>
                <td>{{ u.username }}</td>
                <td>{{ u.role }}</td>
                <td>
                    <form method="POST" action="{{ url_for('admin.update_user') }}">
                        <input type="hidden" name="user_id" value="{{ u.id }}">
                        <input type="text" name="username" placeholder="새 username">
                        <input type="password" name="password" placeholder="새 password">
                        <button type="submit">수정</button>
                    </form>
                </td>

                <td>
                    {% if u.role != "admin" %}
                        <form method="POST"
                            action="{{ url_for('admin.delete_user', user_id=u.id) }}"
                            onsubmit="return confirm('정말 삭제하시겠습니까?');">
                            <button type="submit">삭제</button>
                        </form>
                    {% else %}
                        관리자
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>


{% endblock %}